.tomato { background-color: tomato; }
.red { background-color: red; }
.yellow { background-color: yellow; }
.green { background-color: green; }
.blue { background-color: blue; }
.green { background-color: black; }
.purple { background-color: purple; }
.black { background-color: black; }
.white { background-color: white; }

